.App{
  text-align: center;
}

.App-logo{
  animation: scale 2000ms ease-in-out forwards;
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: #009051;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-container{
  width: 70%;
  margin:auto;
  
  padding:0px;
}
.logo{
  filter: brightness(0.8);
}
.nav-item{
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 600;
}
.TextCont{
  padding: 1% !important;
  position: relative;
  /* height: 50%; */
  left: 60%;
  width: 40%;
  font-size: 25px;
  
}
.carousel-caption{
  position: relative !important;
  top: -400px;
  height: 100% !important;
  width: 75% !important;
  color: rgb(160, 156, 156);
}
.carousel-item{
  height: 500px;
  
}
.carousel-item > img { 
  width: 62%;
  margin: 0px 0px 0px 30px;
  border-radius: 20px;
}

.media-container{
  width:80%;
  margin: auto;
}

h1{
  text-align: center;
  margin:30px;
  padding-top:30px;
}
h4, h2{
  text-align: center;
  color: rgb(160, 156, 156);
}

h5, .footer-text{
  text-align: center;
  color: rgb(160, 156, 156);
}
#sliderimg{
  filter: brightness(0.6);
}
#img1{
  filter: brightness(0.6);
  border-radius: 10px;
}
.media{
  margin:30px;
}

.imgproject{
    filter: brightness(0.6);
    border-radius: 10px;
   
    
}

.footies{
  background: #000;
  padding-top: 10px;
}

.general-container {
  background: rgb(66, 64, 64);
  color: #fff;
}

.media-body{
  margin:50px;
}
.txt{
  text-align: left;
  font-weight: 700;
  color:white;
  display: flex;
}


.txt1{
  text-align:right;
  font-weight: 700;
  color:white;
  position: relative;
  left: 70px;
}

.card-deck{
  width: 90%;
  margin: auto;  
}

.wholediv {
  padding: 35px 0px;
}

a.nav-link, label{
  color: rgb(160, 156, 156);
  font-size:15px;
}

#contact {
  text-align: center;
}
.icons, .hov{
  display:inline;
  padding:20px;
  color: rgb(160, 156, 156);
  font-size: 50px;
  
}
Form{
  color: rgb(160, 156, 156);
}
.footer-logo{
margin: 60px 0px 10px 120px;
filter: brightness(0.8);
}

 
#home {
    
  animation-name: fade;

  -webkit-animation: fade 4s 1 linear;
}
@keyframes fade{
  0% {
    opacity: 0.1;
  }
  
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  }
  
#text:hover {
    
  animation-name: fade;

  -webkit-animation: fade 4s 1 linear;
}
@keyframes fade{
  0% {
    opacity: 1;
  }
  
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  }
  
#service{
  padding-bottom:120px;
}

.tab-content{
  background: #e0e6ee;
}

.modal-footer{
  background: #B3B8BE;
}

.review{
  background : white ;
}


/* 
media query begins here */
@media(max-width:1200px){
  .serviceImg{
    width:100px;
  }
  .pricing-right{
  padding-right: 50px;
  }
}

@media(max-width:900px){
  .B-jumbotron, .B-jumbotron1{
    background:#e0e6ee;
  }
  .housing{
    display:grid;
  }
  .linkkk{
    position: relative;
    left:170px;
  }
  .locawifi{
    position:relative;
    bottom:-12px;
  }
  .features{
    width:620px;
    font-size: 0.5px;
  }
  .features:hover{
    font-size:1rem;
    opacity:3;
    transition: 2s;
  }
  .Service-all{
 display:grid;

  }
  .wholediv{
    width:700px;
  }
  .serviceImg{
    width:100px;
  }

  #price{
    position: relative;
    left:20px;
    padding: -20px;
    top:-8px;
    
  }
  .pricing{
    position: relative;
    left:-40px;
    
  }
  .client1{
    position: relative;
    top:55px;
  }
 .josla-img{
   position: relative;
   left:-20px;
 }
  #client{
    position: relative;
    top:52px;
    padding-bottom: 30px;

  }
 .price-client-container{
   position: relative;
   padding:-20px;
 }
 .clients-header{
   position: relative;
   top:-20px;
 }
  .grid-container{
 position: relative;
 top:15px;
  }
 .footies{
   position: relative;
   top:10px;
 }.josla,  .powered{
   position: relative;
    right:30px;
 }

}
@media(max-width:600px){
  .housing{
  width:420px;
  }
  .locawifi{
    position: relative;
    left:30px;

  }
  .adlib-left{
    position: relative;
    left:10px;
  }
  .linkkk{
    position: relative;
    right:10px;
    font-size: 18px;
  }
  .features{
    width:180px;
  }
  .Service-all{
width:420px;
  }
  .features{
    display:grid;
  }
  .wholediv{
 width:200px;
  }
  .pricing{
    width:350px;
  }
  .pricing-right-text{
    position: relative;
    left:-25px;
    font-size: 12px;
  }
  .grid-container{
    position: relative;
    right:10px;
  }
  .lead{
    position: relative;
    right:10px;
  }
}

@media(max-width:350px){
  .features{
    width:180px;
  }
  
}


@keyframes App-logo-spin {

  to {
    transform: scale(1.2);
  }
}